.header {
    // header 영역 고정 시키기 
    background-color: #D6D2C4;
    margin-bottom: 30px;
    
    .header__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        margin: o auto;
        // padding: 2px 50px;
        height: 48px;
        .header__column {
            i {
                font-size: 40px;
                color: $black;
            }
            ul {
                display: flex;
                flex-direction: row;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 16px;
                li:not(:last-child) {
                    margin-right: 30px;
                  }
                  a {
                      color: #004d40;
                      &:hover {
                          color: #919191;
                          transition: all  0.3
                          s ease-in-out;
                      }
                  }
                  
            }
            form {
                position: relative;
                width: 100%;
                margin-right: -80px;
                input {
                    width: 450px;
                    padding: 7px 10px;
                    border-radius: 5px;
                    // border: 1px solid #424242;
                    font-size: 14px;
                    color: $black;
                    font-weight: 300;
                    &::placeholder {
                        font-weight: 300;
                        color: rgba(0, 0, 0, 0.7);
                      }
                }
                button {
                    position: absolute;
                    top: 6px;
                    right: -70px;
                    border: none;
                    background: none;
                    font-size: 20px;
                }
            }
        }
    }
}