extends layouts/main 

block content
    .form__container
        form(action=routes.editVideo(video.id), method="post")
            input(type="text", placeholder="제목", name="title", value=video.title)
            textarea(name="description", placeholder="세부설명")=video.description
            input(type="submit", value="완료")
        a.form-container__link.form-container__link--delete(href=`/videos${routes.deleteVideo}`) Delete Video