html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  all: unset;
  cursor: pointer; }

*,
input {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

input {
  border: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }
  input:focus, input:active {
    outline: none; }

html,
body {
  height: 100%;
  margin: 0 auto; }

body {
  background-color: #f7f7f7;
  color: #212121;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px; }

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 75vh; }

input,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 8px 10px;
  border: 1px solid #e0e0e0;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  max-width: 320px;
  resize: none; }

input:focus {
  border: 1px solid #065FD4; }

button {
  border: none;
  padding: 8px 10px;
  font-weight: 500;
  background-color: #004d40;
  color: white;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  width: 100%; }

button.delete {
  background-color: #212121; }

.header {
  background-color: #D6D2C4;
  margin-bottom: 30px; }
  .header .header__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    width: 100%;
    margin: o auto;
    height: 48px; }
    .header .header__wrapper .header__column i {
      font-size: 40px;
      color: #212121; }
    .header .header__wrapper .header__column ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
         -moz-box-orient: horizontal;
         -moz-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 16px; }
      .header .header__wrapper .header__column ul li:not(:last-child) {
        margin-right: 30px; }
      .header .header__wrapper .header__column ul a {
        color: #004d40; }
        .header .header__wrapper .header__column ul a:hover {
          color: #919191;
          -webkit-transition: all  0.3 s ease-in-out;
          -o-transition: all  0.3 s ease-in-out;
          -moz-transition: all  0.3 s ease-in-out;
          transition: all  0.3 s ease-in-out; }
    .header .header__wrapper .header__column form {
      position: relative;
      width: 100%;
      margin-right: -100px; }
      .header .header__wrapper .header__column form input {
        width: 450px;
        padding: 7px 10px;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        margin-bottom: 0;
        font-size: 14px;
        color: #212121;
        font-weight: 300; }
        .header .header__wrapper .header__column form input::-webkit-input-placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.7); }
        .header .header__wrapper .header__column form input:-moz-placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.7); }
        .header .header__wrapper .header__column form input::-moz-placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.7); }
        .header .header__wrapper .header__column form input:-ms-input-placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.7); }
        .header .header__wrapper .header__column form input::-ms-input-placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.7); }
        .header .header__wrapper .header__column form input::placeholder {
          font-weight: 300;
          color: rgba(0, 0, 0, 0.7); }
      .header .header__wrapper .header__column form button {
        position: absolute;
        top: 0;
        right: -186px;
        border: none;
        background: none;
        font-size: 18px;
        color: #424242; }

.footer {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #afafaf;
  margin-top: 30px; }

.footer__icon {
  color: #afafaf;
  font-size: 30px;
  margin-bottom: 5px;
  padding-top: 10px; }

.footer__text {
  font-weight: 300;
  color: #afafaf;
  text-transform: uppercase;
  margin-bottom: 10px; }

.form__container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .form__container form {
    width: 100%;
    max-width: 320px;
    margin-bottom: 15px; }
    .form__container form input[type="submit"] {
      border: none;
      background-color: #004d40;
      color: white;
      font-weight: 500; }
    .form__container form input[type="file"] {
      margin-top: 10px;
      background-color: white; }
    .form__container form textarea {
      padding: 8px 10px 30px 10px; }
  .form__container a {
    width: 100%;
    max-width: 320px; }

.social-login button {
  width: 100%;
  max-width: 155px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  padding: 10px 0;
  font-weight: 400; }
  .social-login button:nth-child(1) {
    margin-right: 10px;
    background-color: #383838;
    color: white; }
  .social-login button:last-child {
    background-color: #f7e600;
    color: #1c1c1c; }

.videoBlock video {
  margin-bottom: 10px;
  max-width: 100%; }

.videoBlock .videoBlock__title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px; }

.home-videos {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  grid-gap: 30px; }

.video-detail__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .video-detail__container .video__info {
    width: 100%;
    max-width: 850px;
    margin-top: 14px; }
    .video-detail__container .video__info button {
      width: 90px;
      margin-bottom: 15px; }
    .video-detail__container .video__info .video__title,
    .video-detail__container .video__info .video__views,
    .video-detail__container .video__info .video__description {
      display: block;
      margin-bottom: 15px; }
    .video-detail__container .video__info .video__title {
      font-size: 24px;
      font-weight: 600; }
    .video-detail__container .video__info .video__views {
      font-size: 14px;
      font-weight: 400;
      color: #616161;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 15px; }
    .video-detail__container .video__info .video__description {
      font-size: 16px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 15px; }
  .video-detail__container .video__comments {
    max-width: 850px;
    width: 100%; }
    .video-detail__container .video__comments .video__comment-number {
      font-size: 18px; }
